[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/11NJ
[access "refs/for/refs/*"]
	read = group user/11NJ
	push = group user/11NJ
	label-Code-Review = -2..+2 group user/11NJ
	label-Verified = -1..+1 group user/11NJ
	rebase = group user/11NJ
	removeReviewer = group user/11NJ
	submit = group user/11NJ
[access "refs/heads/*"]
	read = group user/11NJ
	create = group user/11NJ
	push = +force group user/11NJ
	pushMerge = group user/11NJ
[access "refs/tags/*"]
	push = group user/11NJ
	push = +force group user/11NJ
